.showdown-export {
    text-transform: none !important;
    margin: 0 auto 0.2em !important;
    width: fit-content;
    border-radius: 2em !important;
}

.pokemon-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 2em;
    background-color: white;
}

.pokemon-row {
    display: flex;
    justify-content: space-around;
}

.row-loader {
    width: 100%;
    text-align: center;
}
