.options-box {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2em !important;
    margin-top: 9em;
}

.options-row {
    width: 90%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
}

.options-control {
    margin-left: auto !important;
    margin-right: auto !important;
}

.input-field {
    width: 7em !important;
    text-align: start;
}

.gen-checkbox {
    margin: 0 !important;
}

.generate {
    width: 10em !important;
    margin: 0.5em auto 0 !important;
    border-radius: 2em !important;
    text-transform: none !important;
    color: black !important;
    font-weight: bold !important;
    border: 1px solid rgba(0, 0, 0, 0.5) !important;
}

.generate:hover {
    border: 1px solid black !important;
}
